<div class="card">             
	<div class="card-header">{{ trip.name }}</div>             
	<img src="assets/images/{{ trip.image }}"                   
		alt="trip thumbnail" class="card-img-top">             
	<div class="card-body">                 
		<h6 class="card-subtitle mb-2 text-muted">                      
			{{ trip.resort }}                 
		</h6>                 
		<p class="card-subtitle mt-3 mb-3 text-muted">  
			{{trip.length}} only {{trip.perPerson|currency:'USD':"symbol"}} per person 
		</p> 
		<p class="card-text" [innerHTML]="trip.description"> 
		</p> 
		<p>
			Seats available: {{ trip.current_availability }} / {{trip.max_availability}}
		</p>
		<div *ngIf="isAdminLoggedIn()">
			<button (click)="editTrip(trip)" class="btn btn-info">Edit Trip</button>
		</div>
		<div *ngIf="isGuestLoggedIn()">
			<button (click)="bookTrip(trip)" class="btn btn-info">Book Trip</button>
		</div>
	</div> 
</div>
